.ads-box {
   height: 50px;
   width: 100%;
   margin-bottom: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
   padding: 0 clamp(1.3rem, 0rem + 0.89vw, 2rem);
   clear: both;
}
.ads-box.top-page{
   margin-top: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}
.ads-box .widget{
 display: flex;
   align-items: center;
   justify-content: center;
   height: inherit;
   width: inherit;
   background-color: var(--ads-box-bg);
   border: 1px solid rgb(0 0 0 / 10%);
   overflow: hidden;
}
.ads-box .widget a{
   font-style: italic;
   color: var(--text-color);
}
@media only print {
.ads-box {
   display:none;
}
}
@media only screen and (min-width: 700px) {
.ads-box {
   height: 90px;
}
}
